  <% if user_signed_in? %>
  
  <nav id="primary_nav_wrap">
  <ul>
      <li class="avatarround"><%= image_tag current_user.avatar(:small) %></li>
    <li><%= current_user.prenom %>
      <ul>
        <li><a href="#"><%= link_to('Mon compte', profil_path) %></a></li>
        
        <%if current_user.proprio == true %>
        <li><a href=""><%= link_to('Mon camping', profil_mon_camping_path)%></a></li>
        <%else%>
        <%end%>
        <li><%= link_to('Déconnexion', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </li>
  </ul>
  </nav>
  

  <%else%>
    <li><%= link_to('Accès users', connexion_path) %></li>

  <% end %>
