<div class="col-md-12">

<%= form_for(camping) do |f| %>
  <% if camping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camping.errors.count, "error") %> prohibited this camping from being saved:</h2>
      <ul>
      <% camping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% f.hidden_field :proprietaire_id , :value => current_proprietaire.id %>

<div class="form-group">
   <label for="name">Nom du camping</label>
      <%= f.text_field :name, autofocus: true, class:"form-control", id:"name"%>
  </div>

  <div class="form-group">
    <label for="adresse">Adresse du camping</label>
    <%= f.text_field :adresse, class:"form-control"%>
  </div>

<div class="form-group">
    <label for="code_postale">Code postal</label>
    <%= f.text_field :code_postale, class:"form-control"%>
  </div>

<div class="form-group">
    <label for="commune">Commune</label>
    <%= f.text_field :commune, class:"form-control" %>
  </div>

<div class="form-group">
    <label for="courriel">Email</label>
    <%= f.text_field :courriel, class:"form-control" %>
  </div>

<div class="form-group">
    <label for="site_internet">Site internet</label>
    <%= f.text_field :site_internet, class:"form-control" %>
  </div>

<div class="form-group">
    <label for="tel">Numéro de téléphone <small>(permettant de joindre l'accueil)</small></label>
    <%= f.text_field :tel, class:"form-control" %>
  </div>

  <div class="form-group">
    <label for="description">Description de votre camping <small>(Rédigez 5 à 15 lignes pour présenter votre camping)</small></label>
    <%= f.text_area :description, class:"form-control", rows:"9", placeholder:"Décrivez en 5 à 15 lignes tous les atouts de votre camping (situation géographique, proche de la mer, d'un lieu touristique, les offres, les petits plus...). Evitez les listes de mots et préférez des phrases. Ne faites pas de copier/coller d'autres sites. Le plus important c'est de donner envie à vos clients ! Courage vous allez y arriver :)"%>
  </div>

<fieldset disabled>
  <div class="form-group">
    <label for="nomdep">Département</label>
    <%= f.text_field :nomdep, class:"form-control" %>
  </div>

  <div class="form-group">
    <label for="nomregion">Région</label>
    <%= f.text_field :nomregion, class:"form-control" %>
  </div>

  <div class="form-group">
    <label for="latitude">Latitude</label>
    <%= f.text_field :latitude, class:"form-control" %>
  </div>

<div class="form-group">
    <label for="longitude">Longitude</label>
    <%= f.text_field :longitude, class:"form-control" %>
  </div>
</fieldset>

<div class="form-group">
    <label for="etoile">Nombre d'étoiles</label>
    <%= f.text_field :etoile, class:"form-control" %>
  </div>

<div class="form-group">
   <%= f.file_field :image %>
  </div>


   <div class="form-group">
     <%#= label :piscine, "Piscine" %>
<%#= f.select :piscine, ['oui',"oui"], ['non',"non"] %>
</div>
<%= f.fields_for :caracteristiquetest do |builder| %>
<%= builder.select(:piscine, [['Non renseigné',"Non renseigné"], ['Oui',"Oui"], ['Non',"Non"]], {:selected => (@camping.caracteristiquetest.piscine?)}, {class:"form-control", id:"exampleSelect1"}) %>
<%= builder.select(:barbecue, [['Non renseigné',"Non renseigné"], ['Oui',"Oui"], ['Non',"Non"]], {:selected => (@camping.caracteristiquetest.barbecue?)}, {class:"form-control", id:"exampleSelect1"}) %>

  <% end %>
<%#= f.select(:piscine, [['Non renseigné',"Non renseigné"], ['Oui',"Oui"], ['Non',"Non"]], {:selected => (@camping.caracteristiquetest.piscine?)}, {class:"form-control", id:"exampleSelect1"}) %>
  <div class="actions">
    <%= f.submit "Enregistrer", class:"btn btn-success" %>
  </div>
<% end %>
</div>
