
            <div class="card">
                <div class="card-header">
                    <div class="card-header-mask">
                         <a href="/campings/<%=camping[:id]%>">
                         <% if camping.image.present? %>
                      <div class="imagecamp"><%= image_tag camping.image%></div>
                      <%else%>
                      <img src="http://cdn-jpg2.theactivetimes.net/sites/default/files/camping.jpg" width="100%">
                      <%end%>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header">
                   
                        <div class="card-body-header-category"><%= camping.etoile %> *</div>
                        <h2 class="titleblock"><%= link_to camping.name, camping_path(camping.id) %></h2>
                        <p class="card-body-header-sentence">
                            </span><%= camping.commune %><span>
                        </p>
                    </div>
                    <p class="card-body-description">
                        <%= camping.nomdep %>
                        <%= camping.nomregion %>
                       <div class="card-body-footer"><p> Emplacements : <%= camping.emplacement%></p></div>
                        
                    </p>
                </div>
            </div>
            
