<!--prenium 1-->
    <%if @pub.present? %>
    <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-mask">
                             <a href="/campings/<%=@pub[:id]%>">
                             <% if @pub.image.present? %>
                          <div class="imagecamp"><%= image_tag @pub.image%></div>
                          <%else%>
                          <img src="http://cdn-jpg2.theactivetimes.net/sites/default/files/camping.jpg" width="100%">
                          <%end%>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-header">
                       
                            <div class="card-body-header-category"><%= @pub.etoile %> *</div>
                            <div class="card-body-header-category-sponso">COUP DE COEUR</div>
                            <h2 class="titleblock"><%= link_to @pub.name.mb_chars.titleize, camping_path(@pub.id) %></h2>
                            
                            <p class="card-body-header-sentence">
                                </span><%= @pub.commune %><span>
                            </p>
                        </div>
                        <p class="card-body-description">
                            <%= @pub.nomdep %>
                            <%= @pub.nomregion %>
                           <div class="card-body-footer"><p> Emplacements : <%= @pub.emplacement%></p></div>
                            
                        </p>
                    </div>
                </div>
          </div>
    <%else%>
    <%end%>