<p id="notice"><%= notice %></p>

<h1>Campings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adresse</th>
      <th>Code postale</th>
      <th>Commune</th>
      <th>Courriel</th>
      <th>Site internet</th>
      <th>Tel</th>
      <th>Description</th>
      <th>Nomdep</th>
      <th>Nomregion</th>
      <th>Numdep</th>
      <th>Slug</th>
      <th>Ville</th>
      <th>Region</th>
      <th>Departement</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Etoile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campings.each do |camping| %>
      <tr>
        <td><%= camping.name %></td>
        <td><%= camping.adresse %></td>
        <td><%= camping.code_postale %></td>
        <td><%= camping.commune %></td>
        <td><%= camping.courriel %></td>
        <td><%= camping.site_internet %></td>
        <td><%= camping.tel %></td>
        <td><%= camping.description %></td>
        <td><%= camping.nomdep %></td>
        <td><%= camping.nomregion %></td>
        <td><%= camping.numdep %></td>
        <td><%= camping.slug %></td>
        <td><%= camping.ville_id %></td>
        <td><%= camping.region_id %></td>
        <td><%= camping.departement_id %></td>
        <td><%= camping.latitude %></td>
        <td><%= camping.longitude %></td>
        <td><%= camping.etoile %></td>
        <td><%= link_to 'Show', camping %></td>
        <td><%= link_to 'Edit', edit_camping_path(camping) %></td>
        <td><%= link_to 'Destroy', camping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camping', new_camping_path %>
