<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", ariadescribedby:"emailHelp", placeholder:"Entrez votre email" %>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"Indiquez votre mot de passe" %>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block", type:"submit" %>
  </div>
<% end %>
<br />Vous n'avez pas de compte ?
<%= render "devise/shared/links" %>
      </div>
    </div>
